<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
#name{
  font-size:20px;

}
#box{
  border:1px solid black;

}
li{
  font-size:18px;
}

</style>

<body>
  <main>
    {% for item in jsonData %}
    {% if item.id % 2 == 0 %}
    <div id="box">
   <p id="name">Name: {{ item.name }}</p> 
   <p id="user"> Username: {{ item.username }}</p> 
    <p id="email">Email: {{ item.email }}</p>
    {% else %}
    I'm Odd
    {% endif %}
</div>
 {% endfor %}
 <h1>Address</h1>

  {% for item in jsonData %}


<li>
<b>Street:</b> {{ item.address.street }}
    <b>Suite: </b>{{ item.address.suite }}
    
   <b> City:</b> {{ item.address.city }}
   <b> Zipcode: </b>{{ item.address.zipcode }}
   <b> Geo: </b>
    Latitude: {{ item.address.geo.lat }}
    Longitude: {{ item.address.geo.lng }}
 </li>
     {% endfor %}
      <h1>Email ends with bz</h1>
    {% for item in jsonData %}

  {% if item.email.endsWith('.biz') %}
  <li> Name: {{ item.name }}</li>
  <li> Email: {{ item.email }}</li>
   
    {% endif %}
   {% endfor %}
   <h1>Address on condition</h1>
    {% for item in jsonData %}

  {% if item.address.city in ["Aliyaview", "Howemouth", "Gwenborough"] %}
<li> "The Zipcode and Geo of cityname {{ item.address.city }} is: {{ item.address.zipcode }} and Latitude: {{
    item.address.geo.lat }} Longitude: {{ item.address.geo.lng }}"</li>
   
     {% endif %}

   {% endfor %}
   <h1>Catch Phrase</h1>
     {% for item in jsonData %}
    <li> CatchPhrase: {{ item.company.catchPhrase.slice(0, 15) }}</li>
   {% endfor %}
    
   

    


   

  
   
  </main>

</body>

</html>